.badge {
	position: absolute;
	border: 10px solid rgba(0,0,0,0.7);
	background: #eeeeee;
	text-align: left;
/*	overflow: auto;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.badgeShadow {

}

/*.badgeContent {
	background: #eeeeee;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding: 10px;
	min-height: 300px;
	min-width: 400px;
	text-align: left;
}
*/
.badgeArrow {
	position: absolute;
	
	border-top: 30px solid rgba(0,0,0,0);
	border-right: 30px solid rgba(0,0,0,0);
	border-bottom: 30px solid rgba(0,0,0,0);
	border-left: 30px solid rgba(0,0,0,0);

	width:0px; height:0px; font-size: 0px; line-height: 0%;
}

.baTop {border-bottom-color:#eee;}
.baShadowTop {border-bottom-color:rgba(0,0,0,0.7);}
.baRight {border-left-color:#eee;}
.baShadowRight {border-left-color:rgba(0,0,0,0.7);}
.baBottom {border-top-color:#eee;}
.baShadowBottom {border-top-color:rgba(0,0,0,0.7);}
.baLeft {border-right-color:#eee;}
.baShadowLeft {border-right-color:rgba(0,0,0,0.7);}













.badgePath {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background: white;
	padding: 5px;
	margin-bottom: 5px;
	text-align: left;
}

.badgeColumnLeft, .badgeColumnRight {
	vertical-align: top;
	min-width: 250px;
	display: inline-block;
}

.badgeColumnRight {
	margin-top: 15px;
}

.badgeColumnLeft {
	text-align: center;
	min-width: 150px;
	overflow: hidden;
}

.badgeInfoList {
}

.badgeInfoList li, .badgeHeadingArtifacts {
	padding-bottom: 2px;
	border-bottom: 1px solid #DDD;
	padding:2px 10px 2px 32px;
}

.badgeInfoList li:hover {
	background: #555;
	color: white;
}

.badgeHeadingChildren {
	background:transparent url(images/children.png) no-repeat scroll 6px center;
}

.badgeHeadingInfonsIn {
	background:transparent url(images/infonsin.png) no-repeat scroll 6px center;
}

.badgeHeadingAbout {
	background:transparent url(images/infonsabout.png) no-repeat scroll 6px center;
}

.badgeHeadingArtifacts {
	background:transparent url(images/artifacts.png) no-repeat scroll 6px center;
	margin-bottom: 15px;
	text-align: left;
}

.badgeArtifact {
	background: white;
	border: 2px solid gray;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}