.situationView-situation {
	position:absolute;
	background-color: silver;
	border:1px solid black;
}

.situationView-object {
	position:absolute;
	background-color: chartreuse;
	border:1px solid black;
}

.situationView-infon {
	position:absolute;
	background-color: magenta;
	border:1px solid black;
}