.situationView-situation {
	z-index:-2;
	fill:silver;
	stroke:black;
	stroke-width:1;
}

.situationView-object {
	fill: chartreuse;
	stroke:black;
	stroke-width:1;
}

.situationView-infon {
	z-index: 7;
	fill: magenta;
	stroke:black;
	stroke-width:1;
}

.situationView-dragrect {
	background-color: transparent;
	border:1px solid black;
}

#svgelements {
	width:80%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	border: solid black 1px;
	background: teal;
}

.link {
	z-index:5;
	fill:none;
	stroke:#FFC426;
	stroke-width:5;
}