li {
	margin: 3px;
}



.paneset-vertical, .paneset-horizontal {
	position:absolute;
	top: 0px;
	left: 0px;
}

.paneset-pane {
	position:absolute;
	overflow: auto;
}

.paneset-spacer {
	position:absolute;
	background-color: #ccc;
}



.properties td, th {
	padding: 5px;
}
.properties th {
	text-align: right;
	font-weight: bold;
}

