.object, .objectDrop {
	display: table-cell;
	color:#fff;
	background-color:#666; /* default, but will be overwritten depending on the object's type */
	padding:0px 3px;
	line-height:140%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
.object img {
    vertical-align: middle;
    margin: 2px 2px 2px 1px;
}

.objectDrop {
	border: 2px dotted;
	background-color:rgba(0,0,0,.5);
	font-family: Candara;
	font-style: italic;
	color:#ddd;
	cursor: pointer;
}



.infon {
	display:table;
	color:#fff;
	background-color:rgba(0,0,0,.50);
	padding:0px 1px 3px 1px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
.infonRow {
	display:table-row;
}
.infonCell {
	display:table-cell;
	padding:3px 2px 0px 2px;
	vertical-align:middle;
}
.infonCellHolder {
	display:table;
	margin:auto;
}



.text {
	color:#000;
	background-color:#ccc;
	padding: 0px 3px;
}



.prettyPrint {
	font-family: monospace;
}
.prettyPrintIndent {
	margin-left: 20px;
}
