@import url(../../../css/style.css);

.outlineNode {
	font-size: 12pt;
	margin-left: 25px;
}

.toggle div {
	display: inline;
}

.button {
	position:relative;
	top:2pt;
	font-size: 16pt;
	padding-right: 1pt;
	text-shadow: #6F3C23 1px 1px 2px;
	font-weight: bold;
}

.light {
	font-size: 8pt;
	padding-left: 2pt;
	color: gray;
}

.delete {
	font-size: 8pt;
	padding-left: 2pt;
	color: #C75549;
}

.childrenSize {
	font-size: 9pt;
	padding-left: 1pt;
}