.zoomTimeline .timelineBackground {
	fill: #CCC;
}

.scrollTimeline .timelineBackground {
	fill: #AAF;
}

.loadedDuration {
	fill: #888;
	opacity: 0.5;
}

.smallTick {
	stroke: #444;
	opacity: 0.2;
}

.bigTick {
	stroke: #444;
	stroke-width: 1;
	opacity: 0.5;
}

.tickLabel {
	font-size: 8pt;
	fill: black;
	opacity: 0.8;
}

.timepoint {
	cursor: pointer;
	stroke: white;
	opacity: 0.5;
	stroke-width: 5;
	stroke-linecap: round;
}
.timepoint:hover {
	stroke: orange;
	opacity: 0.8;
}

.timeinterval {
	fill: white;
	opacity: 0.5;
	cursor: pointer;
}
.timeinterval:hover {
	fill: orange;
	opacity: 0.8;
}

.selectStart {
	stroke: #CCF;
}

.selectDuration {
	fill: #CCF;
	opacity: 0.5;
}

.previewTime {
	stroke: white;
}

.zoomDuration {
	fill: #AAA;
	stroke-width: 1;
	stroke: blue;
	cursor: move;
}
