h1 {
	font-size:20pt;
	cursor: pointer;
	border-top:1px solid #999;
	margin:0px;
	color:#00f;
}

td {
	font-family: monaco, courier;
	font-size:11pt;
}

.passed {
	color:#090;
}
.failed {
	color:#f00;
}

th {
	font-family: helvetica;
}