
.play-button, .pause-button, .scroll-button-left, .scroll-button-right,
	.fullscreen-button, .unfullscreen-button, .close-button {
		background-image: url(./images/ft.lite.icons.png);
		background-repeat: no-repeat;
}

/*these are all 50x50 currently*/	
.play-button {
	background-position: -21px -16px;
}
.pause-button {
	background-position: -102px -18px;
}
.loading-icon {
	background-color: #fff;
	background-image: url(./images/loading.gif);
}


/*20x16*/
.scroll-button-left {
	background-position: -262px -12px;
}
.scroll-button-right {
	background-position: -285px -12px;
}


/*change these sizes if you like*/
.fullscreen-button {
	top: 5px;
	right: 5px;
	width: 16px;
	height: 11px;
	background-position: -221px -14px;
}
.unfullscreen-button {
	top: 10px;
	right: 10px;
	width: 16px;
	height: 11px;
	background-position: -239px -14px;
}


.close-button {
	width: 12px;
	height: 12px;
	background-position: -172px -13px;
}

