
@import url(reset.css);
@import url(body.css);
@import url(typography.css);

@import url(timeline.css);
@import url(note.css);
@import url(zIndex.css);

@import url(buttons.css);


.separator {
	background-color: #666;
	border-bottom: 1px solid #222;
	border-top: 1px solid #888;
}

.button {
	cursor: pointer;
}

.video .button {
	display: none;
}
.video:hover .button {
	display: block;
}




.timeline-region {
	margin-left: -8px;
}
.timeline-region .inside {
	padding-right: 16px;
}

.timeline-region .inside {
	width: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 14px;
	border: 1px solid;
	cursor: pointer;
	text-align: center;
}

.timeline-region .inside:hover {
	background-color: rgba(51, 102, 204, 1.0);
}

.mine .inside {
	background-color: rgba(204,0,0,0.7);
	border-color: rgba(204,0,0,1.0);
	border-style: dashed;
/*	background-image: url(./images/ft.lite.icons.png);
	background-position: -185px -12px;
	background-repeat: no-repeat;*/
}
.mine .inside:hover {
	background-color: rgba(204,0,0,1.0);
}


.drag-new-link {
	border: 1px dashed #ccc;
	background-color: #111;
	cursor: pointer;
	color: #ccc;
}
.dragging-link-tentative .drag-new-link {
	opacity: 0.7;
}
.dragging-link .drag-new-link {
	opacity: 1.0;
}
.dragging-link .drag-new-link:hover {
	border-color: #f00;
	color: #f00;
}

.tooltip {
	background-color: #222;
	border: 1px solid #555;
	padding: 3px;
	text-align: center;
}

.movieselector {
	color: white;
}

.movieselector em {
	font-size: 22px;
}

.movieselector p {
	color: #999;
	font-size: 12px;
	margin-bottom: 42px;
	margin-left: 30px;
}

.movieselector-image div{
	padding: 7px;
	background-position: 7px 7px;
	border: 1px solid rgba(0,0,0,0);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.movieselector-image:hover div{
	border-color: #ccc;
}