
@import url(reset.css);
@import url(body.css);
@import url(typography.css);


.button {
	cursor: pointer;
}

.video .button {
	display: none;
}
.video:hover .button {
	display: block;
}

.timeline .titlebar {
	display: none;
}
.timeline:hover .titlebar {
	display: block;
}