
@import url(reset.css);
@import url(body.css);
@import url(typography.css);


.separator {
	background-color: #666;
	border-bottom: 1px solid #222;
	border-top: 1px solid #888;
}

.button {
	cursor: pointer;
}

.video .button {
	display: none;
}
.video:hover .button {
	display: block;
}

.timeline .titlebar {
	display: none;
	background-color: #334;
	color: #fff;
	padding: 3px;
/*	border: 1px solid #222;
	border-size: 1px 1px 0px 0px;*/
}
.timeline:hover .titlebar {
	display: block;
}

.timeline-container {
	background-color: #111;
/*	background-image: url(images/timeline-background.png);*/
}

.chapter {
	border-right: 1px solid #000;
	background-color: #666;
}

.chapter-inside {
	background-color: #333;
}

.scrollbar {
	background-color: #111;
}
.scrollbar .button {
	background-color: #333;
}
.scrollbar .scroller {
	background-color: #22222c;
	-moz-border-radius: 4px;
}


.timeline-region {
	margin-left: -8px;
}
.timeline-region .inside {
	padding-right: 16px;
}

.timeline-region .inside {
	width: 100%;
	-moz-border-radius: 8px;
	height: 14px;
	border: 1px solid #36c;
	background-color: rgba(51, 102, 204, 0.7);
	cursor: pointer;
	text-align: center;
}

.timeline-region .inside:hover {
	background-color: rgba(51, 102, 204, 1.0);
}

.mine .inside {
	background-color: rgba(204,0,0,0.7);
	border-color: rgba(204,0,0,1.0);
	border-style: dashed;
}
.mine .inside:hover {
	background-color: rgba(204,0,0,1.0);
}