.noteRange {
	border: solid 1pt;
}

/*.noteRange-highlighted, .noteRange:hover {
	border: solid 1pt orange;
}

#noteSelection.noteRange {
	border: dashed 1pt gray;
}

#noteSelection.noteRange-highlighted {
	border: dashed 2pt red;
}*/
