.noteRange {
	padding: 1px;
	border-style: solid;
}

#noteSelection {
	padding: 0px;
	border: 1px dashed #111;
}
.dragging-link-tentative #noteSelection {
	background-color: #111;
	border-color: #ccc;
	color: #ccc;
	opacity: 0.7;
}
.dragging-link #noteSelection {
	background-color: #111;
	border-color: #ccc;
	color: #ccc;
	opacity: 1.0;
}
.dragging-link #noteSelection:hover {
	background-color: #111;
	cursor: pointer;
	border-color: #f00;
	color: #f00;
}