body {
	overflow: hidden;
	font-family: Calibri, Trebuchet MS;
	font-size: 11pt;
	background-image: url(../images/zui.1/innerbackground.png);
}

.tooltip {
	position:absolute;
	padding:3px;
	background-color:#000;
	color:#fff;
	opacity: 0.7;
}

/*
===============================================================================
ZUI Structural
===============================================================================
*/

.zui {
	
}

.zuiTitle {
	font-weight: bold;
	padding: 4px;
}

.zuiChildrenSidebar {
	
}

.zuiChildrenSidebarList {
	overflow-y: auto;
}

.zuiChildrenSidebarType {
	/* see .blackButton */
}

.zuiChildrenSidebarItemList {
	margin-left: 18px;
}

.zuiChildrenSidebarItem {
	margin: 4px;
	background-color: #666;
	-moz-border-radius: 7px;
	padding: 5px;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
}
.zuiChildrenSidebarItem:hover {
	border-width: 1px;
	padding: 4px;
}

.zuiOpening {
	overflow: hidden;
	background-image: url(../images/zui.1/innerbackground.png);
	border: 1px solid #3a3a3a;
}

.zuiRail {
	-moz-border-radius: 18px 0px 0px 18px;
	overflow: hidden;
}

/*
===============================================================================
Backgrounds
===============================================================================
*/

.paneBackgroundBR, .paneBackgroundBL, .paneBackgroundTR, .paneBackgroundTL {
	background-image: url(../images/zui.1/situationbackground.png);
	position:absolute;
}
.paneBackgroundBR {
	width:100%; height:100%; left:10px; top:16px; background-position: bottom right;
}
.paneBackgroundBL {
	width:20px; height:100%; left:-10px; top:16px; background-position: bottom left;
}
.paneBackgroundTR {
	width:100%; height:42px; left:10px; top:-13px; background-position: top right;
}
.paneBackgroundTL {
	width:20px; height:42px; left:-10px; top:-13px; background-position: top left;
}
.paneBackgroundTitle {
	position:absolute; width:100%; height: 29px; left:0px; top:0px; -moz-border-radius: 9px 9px 0px 0px;
}

.taskbarBackgroundRight {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:100%; height:100%; left: 0; top:0; background-position:right; -moz-border-radius: 18px 0px 0px 18px;
}
.taskbarBackgroundLeft {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:10px; height:100%; left:0; top:0; background-position:left;
}



.expanded {
	float:left; width:13px; height:13px; background-image: url(../images/expanded.png); position:relative; top: 3px; margin-right: 3px;
}
.collapsed {
	float:left; width:13px; height:13px; background-image: url(../images/collapsed.png); position:relative; top: 3px; margin-right: 3px;
}


/*
===============================================================================
Stretch Buttons
===============================================================================
*/

.greyButton, .greyButtonMinimized, .greyButtonViewing, .whiteButton, .blackButton {
	overflow: hidden;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft, .whiteButtonLeft, .blackButtonLeft,
.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight, .whiteButtonRight, .blackButtonRight {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position: absolute;
	top: 0;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft,
.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight {
	height: 20px;
}
.whiteButtonLeft, .blackButtonLeft,
.whiteButtonRight, .blackButtonRight {
	height: 18px;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft, .whiteButtonLeft, .blackButtonLeft {
	width:10px; left:0;
}

.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight, .whiteButtonRight, .blackButtonRight {
	width:100%; left:10px;
}



/*
	Taskbar
*/

.greyButtonLeft {
	background-position:left -124px;
}
.greyButtonRight {
	background-position:right -124px;
}
.greyButton:hover .greyButtonLeft {
	background-position:left -146px;
}
.greyButton:hover .greyButtonRight {
	background-position:right -146px;
}
.greyButton:active .greyButtonLeft {
	background-position:left -168px;
}
.greyButton:active .greyButtonRight {
	background-position:right -168px;
}

.greyButtonMinimizedLeft {
	background-position:left -192px;
	opacity:.2;
}
.greyButtonMinimizedRight {
	background-position:right -192px;
	opacity:.2;
}
.greyButtonViewingLeft {
	background-position:left -215px;
}
.greyButtonViewingRight {
	background-position:right -215px;
}

/*
Other Stretch Items
*/

.whiteButtonLeft {
	background-position:left -0px;
}

.whiteButtonRight {
	background-position:right -0px;
}

.whiteButton:hover .whiteButtonLeft {
	background-position:left -20px;
}

.whiteButton:hover .whiteButtonRight {
	background-position:right -20px;
}

.whiteButton:active .whiteButtonLeft {
	background-position:left -40px;
}

.whiteButton:active .whiteButtonRight {
	background-position:right -40px;
}

.blackButton {
	cursor: pointer;
}

.blackButtonLeft {
	background-position:left -61px;
}

.blackButtonRight {
	background-position:right -61px;
}

.blackButton:hover .blackButtonLeft {
	background-position:left -82px;
}

.blackButton:hover .blackButtonRight {
	background-position:right -82px;
}

.blackButton:active .blackButtonLeft {
	background-position:left -103px;
}

.blackButton:active .blackButtonRight {
	background-position:right -103px;
}

/*
buttons
*/

.buttonContent {
	position:absolute; top:0px; left: 0px; width:100%; height:100%;
}



.addButton {
	background-image: url(../images/addButton.png);
}



.pageLeft {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -209px 0px;
	width: 43px;
	height: 33px;
}

.pageLeft:hover {
	background-position: -209px -33px;
}

.pageLeft:active {
	background-position: -209px -67px;
}

.pageRight {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -260px 0px;
	width: 43px;
	height: 33px;
}

.pageRight:hover {
	background-position: -260px -33px;
}

.pageRight:active {
	background-position: -260px -67px;
}


.viewInfonsAbout {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -1px;
	width: 27px;
	height: 21px;
}

.viewInfonsAbout:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -24px;
	width: 27px;
	height: 21px;
}

.viewInfonsAbout:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -47px;
	width: 27px;
	height: 21px;
}

.viewInfonsAboutSelected {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -71px;
	width: 27px;
	height: 21px;
}

.viewInfons {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -1px;
	width: 27px;
	height: 21px;
}

.viewInfons:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -25px;
	width: 27px;
	height: 21px;
}

.viewInfons:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -48px;
	width: 27px;
	height: 21px;
}

.viewInfonsSelected {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -72px;
	width: 27px;
	height: 21px;
}

.viewSituation {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -1px;
	width: 27px;
	height: 21px;
}

.viewSituation:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -25px;
	width: 27px;
	height: 21px;
}

.viewSituation:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -48px;
	width: 27px;
	height: 21px;
}

.viewSituationSelecte {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -72px;
	width: 27px;
	height: 21px;
}


.closeInactive {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -1px;
	width: 19px;
	height: 18px;
}

.close:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -21px;
	width: 19px;
	height: 18px;
}

.close:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -41px;
	width: 19px;
	height: 18px;
}

.close {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -61px;
	width: 19px;
	height: 18px;
}

.maximizeInactive {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -1px;
	width: 19px;
	height: 18px;
}

.maximize:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -21px;
	width: 19px;
	height: 18px;
}

.maximize:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -41px;
	width: 19px;
	height: 18px;
}

.maximize {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -61px;
	width: 19px;
	height: 18px;
}

.railScrollRight {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -1px;
	width: 10px;
	height: 12px;
}

.railScrollRight:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -17px;
	width: 10px;
	height: 12px;
}

.railScrollRight:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -34px;
	width: 10px;
	height: 12px;
}

.railScrollLeft {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -1px;
	width: 10px;
	height: 12px;
}

.railScrollLeft:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -17px;
	width: 10px;
	height: 12px;
}

.railScrollLeft:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -34px;
	width: 10px;
	height: 12px;
}

.childViewClose {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -1px;
	width: 15px;
	height: 32px;
}

.childViewClose:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -35px;
	width: 15px;
	height: 32px;
}

.childViewClose:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -69px;
	width: 15px;
	height: 32px;
}

.childViewOpen {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -1px;
	width: 15px;
	height: 32px;
}

.childViewOpen:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -35px;
	width: 15px;
	height: 32px;
}

.childViewOpen:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -69px;
	width: 15px;
	height: 32px;
}

/*
Solids
*/
.searchChild {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -1px;
	width: 264px;
	height: 32px;
}

.titleRail {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -36px;
	width: 96px;
	height: 23px;
}

.selectedChild {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -60px;
	width: 274px;
	height: 88px;
}

.scrollGradientBottom {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -154px;
	width: 285px;
	height: 14px;
}

.ellipses {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -171px;
	width: 21px;
	height: 6px;
}