@namespace svg "http://www.w3.org/2000/svg";
@namespace f "http://www.filmsfolded.com/xsl/ui";

f|consolelog {
	display: none;
}

body {
	overflow: hidden;
	font-family: Calibri, Trebuchet MS;
	font-size: 11pt;
	background-image: url(../images/zui.1/innerbackground.png);
}

.tooltip {
	position:absolute;
	padding:3px;
	background-color:#000;
	color:#fff;
	opacity: 0.7;
}

.kernelObject {
	padding: 1px 4px;
	-moz-border-radius: 6px;
	margin: 2px;
	color: #fff;
	cursor: pointer;
}
.kernelInfon {
	padding: 4px;
	background-color: #2d2d2d;
	-moz-border-radius: 11px;
	border: 1px solid #000;
}

.kernelObjectSurround {
	float: left;
	position: relative;
}

.kernelObjectSurround:hover {
	padding: 10px;
	margin: -13px;
	border: 3px solid #2ae;
	-moz-border-radius: 13px;
}
.kernelObjectParentSituation {
	position:absolute;
	color: #fff;
	bottom: -13px;
	left: 12px;
	width: 300px;
	display: none;
}
.kernelObjectSurround:hover .kernelObjectParentSituation {
	display: block;
}
.kernelObjectParentSituation span {
	background-color:#2ae;
	padding: 1px 4px;
	-moz-border-radius: 6px;
}


/*
===============================================================================
ZUI Structural
===============================================================================
*/

.zui {
	
}

.zuiTitle {
	font-weight: bold;
	padding: 4px;
}

.zuiChildrenSidebar {
	
}

.zuiChildrenSidebarList {
	overflow-y: auto;
}

.zuiChildrenSidebarType {
	/* see .blackButton */
}

.zuiChildrenSidebarItemList {
	margin-left: 12px;
}

.zuiChildrenSidebarItem {
	margin: 3px;
	background-color: #666;
	-moz-border-radius: 7px;
	padding: 5px;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
}
.zuiChildrenSidebarItem:hover {
	border-width: 1px;
	padding: 4px;
}

.zuiOpening {
	overflow: hidden;
	background-image: url(../images/zui.1/innerbackground.png);
	border: 1px solid #3a3a3a;
}

.zuiRail {
	-moz-border-radius: 18px 0px 0px 18px;
	overflow: hidden;
}



/*
===============================================================================
Infon CSS
===============================================================================
*/

.zuiBuildInfon {
	-moz-border-radius: 9px;
	background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border:15px solid transparent;
}

.infonInProgress {
	padding: 5px;
	text-align: center;
}

.infonFinished {
	-moz-border-radius: 20px;
	background-color:rgba(0, 0, 0, 0.7);
	border:3px solid black;
	margin:0px auto;
	padding:28px 8px;
	text-align:center;
	display:block;
	padding-bottom:42px;
}

.buildInfonElement {
	-moz-border-radius: 20px;
	background-color: white;
	padding: 7px;
	color: white;
	font-size: 18pt;
	margin: 0px 5px 0px 5px;
}

.buildInfonElement input {
	color: grey;
	border: 0px;
	text-align: left;
	font-size: 16pt;
	width: 150px;
	margin-right: 32px;
}

.grabObject {
	background-image: url(../images/zui.1/infon.png);
	background-position: -3px -49px;
	width: 32px;
	height: 32px;
	-moz-border-radius: 16px;
	background-color: black;
	border: 2px solid rgba(255,255,255,1);
}

.grabObject:hover {
	border: 2px solid #8c3;
}

.chooseRelation {
	background-image:url(../images/zui.1/infon.png);
	background-position:-1px -1px;
	color:white;
	height:46px;
	line-height:46px;
	width:372px;
	padding:0px 3px 0px 3px;
	background-repeat:no-repeat;
	text-align: center;
}

.chooseRelation input {
	-moz-border-radius: 9px;
	border: 2px solid rgba(12,12,12,.76);
	padding: 3px;
}

.infonObjectSurround {
	position: relative;
	padding: 22px 5px;
	border: 3px solid #2ae;
	-moz-border-radius: 13px;
}

.infonObjectParentSituation {
	position:absolute;
	color: #fff;
	bottom: -13px;
	right: 12px;
	width: 300px;
	display: block;
	text-align: right;
}



.infonObjectParentSituation span {
	background-color:#2ae;
	padding: 1px 8px;
	-moz-border-radius: 6px;
}

.infonSubmitNewInfon {
	color: white;
}

.infonSubmitButton {
	width: 130px;
	position: absolute;
}

.infonSubmitL, .infonSubmitR {
	position: absolute;
	background-image: url(../images/zui.1/infon.png);
	height: 46px;
}

.infonSubmitL {
	width: 10px;
	background-position: -1px -1px;
	left: -10px;
}

.infonSubmitR {
	width: 100%;
	background-position: -243px -1px;
}


/*
===============================================================================
Backgrounds
===============================================================================
*/

.paneBackgroundBR, .paneBackgroundBL, .paneBackgroundTR, .paneBackgroundTL {
	background-image: url(../images/zui.1/situationbackground.png);
	position:absolute;
}
.paneBackgroundBR {
	width:100%; height:100%; left:10px; top:16px; background-position: bottom right;
}
.paneBackgroundBL {
	width:20px; height:100%; left:-10px; top:16px; background-position: bottom left;
}
.paneBackgroundTR {
	width:100%; height:43px; left:10px; top:-13px; background-position: top right;
}
.paneBackgroundTL {
	width:20px; height:43px; left:-10px; top:-13px; background-position: top left;
}
.paneBackgroundTitle {
	position:absolute; width:100%; height: 29px; left:0px; top:0px; -moz-border-radius: 9px 9px 0px 0px;
}

.taskbarBackgroundRight {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:100%; height:100%; left: 0; top:0; background-position:right; -moz-border-radius: 18px 0px 0px 18px;
}
.taskbarBackgroundLeft {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:9px; height:100%; left:0; top:0; background-position:left;
}



.expanded {
	float:left; width:13px; height:13px; background-image: url(../images/expanded.png); position:relative; top: 3px; margin-right: 3px;
}
.collapsed {
	float:left; width:13px; height:13px; background-image: url(../images/collapsed.png); position:relative; top: 3px; margin-right: 3px;
}

.shadowBR, .shadowBL, .shadowTR, .shadowTL {
	background-image: url(../images/zui.1/shadow.png);
	position: absolute;
}

.shadowBR {
	width: 100%;
	height: 100%;
	left: 56px;
	top: 56px;
	background-position: bottom right;
}

.shadowBL {
	width: 112px;
	height: 100%;
	left: -56px;
	top: 56px;
	background-position: bottom left;
}

.shadowTR {
	width: 100%;
	height: 112px;
	left: 56px;
	top: -56px;
	background-position: top right;
}

.shadowTL {
	width: 112px;
	height: 112px;
	left: -56px;
	top: -56px;
	background-position: top left;
}




/*
===============================================================================
Stretch Buttons
===============================================================================
*/

.greyButton, .greyButtonMinimized, .greyButtonViewing, .whiteButton, .blackButton {
	overflow: hidden;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft, .whiteButtonLeft, .blackButtonLeft,
.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight, .whiteButtonRight, .blackButtonRight {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position: absolute;
	top: 0;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft,
.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight {
	height: 20px;
}
.whiteButtonLeft, .blackButtonLeft,
.whiteButtonRight, .blackButtonRight {
	height: 18px;
}

.greyButtonLeft, .greyButtonMinimizedLeft, .greyButtonViewingLeft, .whiteButtonLeft, .blackButtonLeft {
	width:10px; left:0;
}

.greyButtonRight, .greyButtonMinimizedRight, .greyButtonViewingRight, .whiteButtonRight, .blackButtonRight {
	width:100%; left:10px;
}



/*
	Taskbar
*/

.greyButtonLeft {
	background-position:left -124px;
	opacity:.7;
}
.greyButtonRight {
	background-position:right -124px;
	opacity:.7;
}
.greyButton:hover .greyButtonLeft {
	background-position:left -146px;
}
.greyButton:hover .greyButtonRight {
	background-position:right -146px;
}
.greyButton:active .greyButtonLeft {
	background-position:left -168px;
}
.greyButton:active .greyButtonRight {
	background-position:right -168px;
}

.greyButtonMinimizedLeft {
	background-position:left -192px;
	opacity:.2;
}
.greyButtonMinimizedRight {
	background-position:right -192px;
	opacity:.2;
}
.greyButtonViewingLeft {
	background-position:left -192px;
	opacity: 1;
}
.greyButtonViewingRight {
	background-position:right -192px;
	opacity: 1;
}

/*
Other Stretch Items
*/

.whiteButtonLeft {
	background-position:left -0px;
}

.whiteButtonRight {
	background-position:right -0px;
}

.whiteButton:hover .whiteButtonLeft {
	background-position:left -20px;
}

.whiteButton:hover .whiteButtonRight {
	background-position:right -20px;
}

.whiteButton:active .whiteButtonLeft {
	background-position:left -40px;
}

.whiteButton:active .whiteButtonRight {
	background-position:right -40px;
}

.blackButton {
	cursor: pointer;
}

.blackButtonLeft {
	background-position:left -61px;
}

.blackButtonRight {
	background-position:right -61px;
}

.blackButton:hover .blackButtonLeft {
	background-position:left -82px;
}

.blackButton:hover .blackButtonRight {
	background-position:right -82px;
}

.blackButton:active .blackButtonLeft {
	background-position:left -103px;
}

.blackButton:active .blackButtonRight {
	background-position:right -103px;
}

/*
buttons
*/

.buttonContent {
	position:absolute; top:0px; left: 0px; width:100%; height:100%;
}



.addButton {
	background-image: url(../images/addButton.png);
}



.pageLeft {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -209px 0px;
	width: 43px;
	height: 33px;
}

.pageLeft:hover {
	background-position: -209px -33px;
}

.pageLeft:active {
	background-position: -209px -67px;
}

.pageRight {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -260px 0px;
	width: 43px;
	height: 33px;
}

.pageRight:hover {
	background-position: -260px -33px;
}

.pageRight:active {
	background-position: -260px -67px;
}


.viewInfonsAbout {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -1px;
	width: 27px;
	height: 21px;
}

.viewInfonsAbout:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -24px;
	width: 27px;
	height: 21px;
}

.viewInfonsAbout:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -47px;
	width: 27px;
	height: 21px;
}

.viewInfonsAboutSelected {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -71px;
	width: 27px;
	height: 21px;
}

.viewInfons {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -1px;
	width: 27px;
	height: 21px;
}

.viewInfons:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -25px;
	width: 27px;
	height: 21px;
}

.viewInfons:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -48px;
	width: 27px;
	height: 21px;
}

.viewInfonsSelected {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -72px;
	width: 27px;
	height: 21px;
}

.viewSituation {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -1px;
	width: 27px;
	height: 21px;
}

.viewSituation:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -25px;
	width: 27px;
	height: 21px;
}

.viewSituation:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -48px;
	width: 27px;
	height: 21px;
}

.viewSituationSelecte {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -72px;
	width: 27px;
	height: 21px;
}


.closeInactive {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -1px;
	width: 19px;
	height: 18px;
}

.close:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -21px;
	width: 19px;
	height: 18px;
}

.close:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -41px;
	width: 19px;
	height: 18px;
}

.close {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -61px;
	width: 19px;
	height: 18px;
}

.maximizeInactive {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -1px;
	width: 19px;
	height: 18px;
}

.maximize:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -21px;
	width: 19px;
	height: 18px;
}

.maximize:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -41px;
	width: 19px;
	height: 18px;
}

.maximize {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -61px;
	width: 19px;
	height: 18px;
}

.railScrollRight {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -1px;
	width: 10px;
	height: 12px;
}

.railScrollRight:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -17px;
	width: 10px;
	height: 12px;
}

.railScrollRight:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -34px;
	width: 10px;
	height: 12px;
}

.railScrollLeft {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -1px;
	width: 10px;
	height: 12px;
}

.railScrollLeft:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -17px;
	width: 10px;
	height: 12px;
}

.railScrollLeft:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -34px;
	width: 10px;
	height: 12px;
}

.childViewClose {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -1px;
	width: 15px;
	height: 32px;
}

.childViewClose:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -35px;
	width: 15px;
	height: 32px;
}

.childViewClose:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -69px;
	width: 15px;
	height: 32px;
}

.childViewOpen {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -1px;
	width: 15px;
	height: 32px;
}

.childViewOpen:hover {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -35px;
	width: 15px;
	height: 32px;
}

.childViewOpen:active {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -69px;
	width: 15px;
	height: 32px;
}


/*
Solids
*/

.searchChild {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -1px;
	width: 264px;
	height: 32px;
}

.titleRail {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -36px;
	width: 96px;
	height: 23px;
}

.selectedChild {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -60px;
	width: 274px;
	height: 88px;
}

.scrollGradientBottom {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -154px;
	width: 285px;
	height: 14px;
}

.ellipses {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -171px;
	width: 21px;
	height: 6px;
}