body {
	overflow: hidden;
	font-family: Calibri, Trebuchet MS;
	font-size: 11pt;
	background-image: url(../images/zui.1/innerbackground.png);
}

.zui {
	/*border: 1px solid #000;
	border-width: 0px 1px 1px 1px;*/
}

.paneBackgroundBR, .paneBackgroundBL, .paneBackgroundTR, .paneBackgroundTL {
	background-image: url(../images/zui.1/situationbackground.png);
	position:absolute;
}
.paneBackgroundBR {
	width:100%; height:100%; left:10px; top:16px; background-position: bottom right;
}
.paneBackgroundBL {
	width:20px; height:100%; left:-10px; top:16px; background-position: bottom left;
}
.paneBackgroundTR {
	width:100%; height:42px; left:10px; top:-13px; background-position: top right;
}
.paneBackgroundTL {
	width:20px; height:42px; left:-10px; top:-13px; background-position: top left;
}
.paneBackgroundTitle {
	position:absolute; width:100%; height: 29px; left:0px; top:0px; -moz-border-radius: 9px 9px 0px 0px;
}

.zuiTitle {
	font-weight: bold;
	padding: 4px;
/*	background-image: url(../images/titleBarBG.png);
	background-color:#aaa;*/
}
.zuiTitleBG {
	
}

.individualChildren {
	float:left;
	width:33%;
}

.zuiChildrenSidebar {
	/*background-color:#dde;*/
	overflow-y: auto;
}

.expanded {
	float:left; width:13px; height:13px; background-image: url(../images/expanded.png);
}
.collapsed {
	float:left; width:13px; height:13px; background-image: url(../images/collapsed.png);
}

/*.zuiOpeningBG {
	background-image: url(../images/openingBG.png);
}*/

.zuiOpening {
	overflow: hidden;
	/*background: #444 url(http://www.eversplosion.com/resources/gradient.php?height=100&start=000000&end=444444) repeat-x;*/
	background-image: url(../images/zui.1/innerbackground.png);
	border: 1px solid #191919;
	/*background: #6af url(http://www.eversplosion.com/resources/gradient.php?height=80&start=0066ee&end=66aaff) repeat-x scroll 0 0;*/
}

/*
	Taskbar
*/

.taskbarBackgroundRight {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:100%; height:100%; left: 1px; top:0; background-position:right; -moz-border-radius: 18px 0px 0px 18px;
}

.taskbarBackgroundLeft {
	background-image: url(../images/zui.1/bottomrail.png);
	position:absolute; width:10px; height:100%; left:0; top:0; background-position:left;
}

.taskbarItemLeft {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:20px; left:0; top:0; background-position:left -124px;
}

.taskbarItemRight {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:20px; left:10px; top:0; background-position:right -124px;
}

.taskbarItemLeft2 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:20px; left:0; top:0; background-position:left -146px;
}

.taskbarItemRight2 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:20px; left:10px; top:0; background-position:right -146px;
}

.taskbarItemLeft3 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:20px; left:0; top:0; background-position:left -168px;
}

.taskbarItemRight3 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:20px; left:10px; top:0; background-position:right -168px;
}

.taskbarItemLeft4 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:20px; left:0; top:0; background-position:left -192px;
}

.taskbarItemRight4 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:20px; left:10px; top:0; background-position:right -192px;
}

.taskbarItemLeft5 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:20px; left:0; top:0; background-position:left -215px;
}

.taskbarItemRight5 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:20px; left:10px; top:0; background-position:right -215px;
}

/*
Other Stretch Items
*/

.stretchItemLeft1 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -0px;
}

.stretchItemRight1 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -0px;
}

.stretchItemLeft2 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -20px;
}

.stretchItemRight2 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -20px;
}

.stretchItemLeft3 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -40px;
}

.stretchItemRight3 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -40px;
}

.stretchItemLeft4 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -61px;
}

.stretchItemRight4 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -61px;
}

.stretchItemLeft5 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -82px;
}

.stretchItemRight5 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -82px;
}

.stretchItemLeft6 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:10px; height:18px; left:0; top:0; background-position:left -103px;
}

.stretchItemRight6 {
	background-image: url(../images/zui.1/stretchbuttons.png);
	position:absolute; width:100%; height:18px; left:10px; top:0; background-position:right -103px;
}

/*
buttons
*/



.addButton {
	background-image: url(../images/addButton.png);
}

.tooltip {
	position:absolute;
	padding:3px;
	background-color:#000;
	color:#fff;
	opacity: 0.7;
}

.scrollLeft {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -209px 0px;
	width: 43px;
	height: 33px;
}

.scrollLeft:hover {
	background-position: -209px -33px;
}

.scrollLeft:active {
	background-position: -209px -67px;
}

.scrollRight {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -260px 0px;
	width: 43px;
	height: 33px;
}

.scrollRight:hover {
	background-position: -260px -33px;
}

.scrollRight:active {
	background-position: -260px -67px;
}


.button1a {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -1px;
	width: 27px;
	height: 21px;
}

.button1b {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -24px;
	width: 27px;
	height: 21px;
}

.button1c {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -48px;
	width: 27px;
	height: 21px;
}

.button1d {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -9px -69px;
	width: 27px;
	height: 21px;
}

.button2a {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -1px;
	width: 27px;
	height: 21px;
}

.button2b {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -24px;
	width: 27px;
	height: 21px;
}

.button2c {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -48px;
	width: 27px;
	height: 21px;
}

.button2d {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -38px -72px;
	width: 27px;
	height: 21px;
}

.button3a {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -1px;
	width: 27px;
	height: 21px;
}

.button3b {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -24px;
	width: 27px;
	height: 21px;
}

.button3c {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -48px;
	width: 27px;
	height: 21px;
}

.button3d {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -67px -72px;
	width: 27px;
	height: 21px;
}


.circlex1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -1px;
	width: 19px;
	height: 18px;
}

.circlex2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -21px;
	width: 19px;
	height: 18px;
}

.circlex3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -41px;
	width: 19px;
	height: 18px;
}

.circlex4 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -101px -61px;
	width: 19px;
	height: 18px;
}

.cross1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -1px;
	width: 19px;
	height: 18px;
}

.cross2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -21px;
	width: 19px;
	height: 18px;
}

.cross3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -41px;
	width: 19px;
	height: 18px;
}

.cross4 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -121px -61px;
	width: 19px;
	height: 18px;
}

.ltaskscroll1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -1px;
	width: 10px;
	height: 12px;
}

.ltaskscroll2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -17px;
	width: 10px;
	height: 12px;
}

.ltaskscroll3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -141px -33px;
	width: 10px;
	height: 12px;
}

.rtaskscroll1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -1px;
	width: 10px;
	height: 12px;
}

.rtaskscroll2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -17px;
	width: 10px;
	height: 12px;
}

.rtaskscroll3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -155px -33px;
	width: 10px;
	height: 12px;
}

.badgex1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -1px;
	width: 15px;
	height: 32px;
}

.badgex2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -35px;
	width: 15px;
	height: 32px;
}

.badgex3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -171px -69px;
	width: 15px;
	height: 32px;
}

.badgegt1 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -1px;
	width: 15px;
	height: 32px;
}

.badgegt2 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -35px;
	width: 15px;
	height: 32px;
}

.badgegt3 {
	background-image: url(../images/zui.1/buttons.png);
	background-position: -189px -69px;
	width: 15px;
	height: 32px;
}

/*
Solids
*/
.solid1 {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -1px;
	width: 264px;
	height: 32px;
}

.solid2 {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -36px;
	width: 96px;
	height: 23px;
}

.solid3 {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -60px;
	width: 274px;
	height: 88px;
}

.solid4 {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -154px;
	width: 285px;
	height: 14px;
}

.solid5 {
	background-image: url(../images/zui.1/solids.png);
	background-position: -1px -171px;
	width: 21px;
	height: 6px;
}